:root {
  --bg-left-navbar: rgba(0,0,0,255);
  --bg-upgrade-bar: rgba(8,11,18,255);
  --bg-main-content: rgba(20,25,34,255);
  --bg-player-bar: rgba(40,40,40,255);
  --text-primary-color: white;
  --text-secondary-color: rgba(125,127,132,255);
  --progress-bar-full-color: rgba(193,193,193,255);
  --progress-bar-empty-color: rgba(90,90,90,255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

body > * {
  min-width: 100px;
  min-height: 100px;
}

                    /* nav bar laterale sinistra */
.left-nav-bar {
  background-color: var(--bg-left-navbar);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 100px);    /* togliere i 2px di border */
  padding: 0 12px;      /* cambiare i px in % o calc? */
}

.top-box-nav {
  flex-direction: column;
}

.nav-box {
  flex-direction: column;
  gap: 10px;
}

.nav-box i {
  color: var(--text-primary-color);
}

.nav-box i ~ i {
  font-size: 20px;
}

.top-box-nav i:first-child {
  font-size: 30px;
  padding: 5px 0 3px;
}

.bot-box-nav i:first-child {
  font-size: 10px;
  margin: auto;
}

.bot-box-nav i:last-child {
  padding-bottom: 7px;
}

                        /* barra superiore */
.right-content-box {
  width: 100%;
  flex-direction: column;
}

.upgrade {
  background-color: var(--bg-upgrade-bar);
  width: 100%;
  justify-content: flex-end;
  padding: 15px 10px 25px;
}

.upgrade button {
  border: 1px solid white;
  border-radius: 25px;
  background-color: var(--bg-upgrade-bar);
  padding: 10px 45px;
}

.upgrade a {
  color: var(--text-primary-color);
  text-decoration: none;
  font-weight: 600;
}

                        /* contenitore principale */
.main-content {
  background-color: var(--bg-main-content);
  flex-grow: 1;
  height: calc(100vh - 178px);
  overflow: auto;
}

                        /* categorie */
.categories {
  padding: 20px;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
}

.categories h4 {
  text-transform: uppercase;
  font-size: 14px;
}

.categories a {
  color: var(--text-secondary-color);
}

                        /* contenuto */
.audio-content {
  padding: 1rem;
}

.row {
  margin: 1.5rem 0 0;
  gap: 10px;
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
  align-items: center;
  width: calc(100% / 2 - 10px);
  margin: auto;
}

.col img {
  width: 100%;
  object-fit: contain;
}

.col h3 {
  font-size: 17px;
  padding-top: 12px;
}

.col h5 {
  font-size: 12px;
  padding-top: 7px;
}

                            /* player inferiore */
.player-box {
  width: calc(100% / 3);
  padding: 10px;
}

                            /* sezione sinistra */
.player-bar {
  background-color: var(--bg-player-bar);
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.left-box-player-bar {
  height: 70%;
  width: calc(100% / 3);
  align-items: center;
  gap: 10px;
}

.left-mini-box img {
  width: 35px;
}

.center-mini-box h6 {
  font-size: 13px;
}

.center-mini-box div {
  font-size: 12px;
  font-weight: 600;
  color: var(--text-secondary-color)
}

.right-mini-box i {
  width: 100%;
  padding-left: 10px;
}

                            /* sezione centrale */
.middle-box-player-bar {
  flex-direction: column;
  gap: 20px;
}

.top-central-mini-box {
  gap: 17px;
  justify-content: center;
  align-items: center;
}

.top-central-mini-box i:nth-child(3) {
  font-size: 25px;
}

.bottom-central-mini-box {
  align-items: center;
  gap: 7px;
}

#progress-bar,
#audio-bar {    /* la audio non si vede perchè il container non ha dimensione */
  height: 5px;
  flex-grow: 1;
  background-color: var(--progress-bar-empty-color);
  border-radius: 5px;
}
                              /* sezione destra */
.right-box-player-bar {
  align-items: center;
  gap: 10px;
}

.left-box-player-bar i {
  color: var(--progress-bar-empty-color)
}

.middle-box-player-bar,
.right-box-player-bar {
  color: var(--text-primary-color);
}