:root {
  --bg-left-navbar: rgba(0,0,0,255);
  --bg-upgrade-bar: rgba(8,11,18,255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

body > * {
  min-width: 100px;
  min-height: 100px;
  border: 1px dashed red;
}

                    /* nav bar laterale sinistra */
.left-nav-bar {
  background-color: var(--bg-left-navbar);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 102px);    /* togliere i 2px di border */
  padding: 0 12px;      /* cambiare i px in % o calc? */
}

.top-box-nav {
  flex-direction: column;
}

.nav-box {
  flex-direction: column;
  gap: 10px;
}

.nav-box i {
  color: white;
}

.nav-box i ~ i {
  font-size: 20px;
}

.top-box-nav i:first-child {
  font-size: 30px;
  padding: 5px 0 3px;
}

.bot-box-nav i:first-child {
  font-size: 10px;
  margin: auto;
}

.bot-box-nav i:last-child {
  padding-bottom: 7px;
}

                        /* barra superiore */
.right-content-box {
  width: 100%;
  flex-direction: column;
}

.upgrade {
  background-color: var(--bg-upgrade-bar);
  width: 100%;
  justify-content: flex-end;
  padding: 15px 10px 25px;
}

.upgrade button {
  border: 1px solid white;
  border-radius: 25px;
  background-color: var(--bg-upgrade-bar);
  padding: 10px 45px;
}

.upgrade a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

